*.pyc
*.log
*.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
ftp_upload.iml
localsettings_use_me.py

FTP_Upload/v13/ftp_upload-v12.py

*.2014-03-23

FTP_Upload/v13/ftp_upload.log.2014-03-23

FTP_Upload/v13/ftp_upload.log.2014-04-06

FTP_Upload/v13/ftp_upload.log.2014-04-07

FTP_Upload/v13/ftp_upload.log.2014-04-08

FTP_Upload/v13/ftp_upload.log.2014-04-09

FTP_Upload/v13/ftp_upload.log.2014-04-10

FTP_Upload/v13/ftp_upload.py

FTP_Upload/v13/ftp_upload.sh

FTP_Upload/v13/localsettings.py

FTP_Upload/v13/localsettings_use_me.py

FTP_Upload/v13/localsettings_use_me_old.py

FTP_Upload/v13/runtimesettings.py

.pydevproject

.project
